.box
{
    background-color: lightgrey;
    width:100%;
    border: 50px;
    padding:2px;

}
body
{
border: 40pt;
}

.top
{
    margin-left: 100px;
}
.foot
{
    text-align: center;
}
.emer
{
text-align: center;
text-decoration: underline;
}
